<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.born.app"
    version="0.1.6">
    <name>BornApp</name>
    <description>Cordova BornApp Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,born</keywords>

    <js-module src="www/born.js" name="born">
        <merges target="born" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BornCordova">
                <param name="ios-package" value="BornCordova"/>
            </feature>
        </config-file>
        <header-file src="src/ios/BornCordova.h"/>
        <source-file src="src/ios/BornCordova.m"/>
    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BornCordova">
                <param name="android-package" value="born.plugins.BornCordova"/>
            </feature>
        </config-file>

        <source-file src="src/android/BornCordova.java" target-dir="src/born/plugins/" />
    </platform>
</plugin>